body {
  background-color: #eee !important; }

.organizations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px; }
  .organizations .organization {
    position: relative;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: white; }
    .organizations .organization-interests {
      display: flex;
      flex-direction: row; }
      .organizations .organization-interests small {
        background-color: lightblue;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 2.5px; }
    .organizations .organization-resources {
      position: absolute;
      top: 15px;
      right: 15px;
      display: grid;
      grid-template-columns: repeat(2, 25px);
      grid-gap: 10px;
      align-items: center; }
      .organizations .organization-resources a img {
        width: 100%; }

label:not(:first-child) {
  margin-top: 10px; }

.looking-for-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px; }
  .looking-for-checkboxes label {
    margin-top: 0 !important; }
