<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Index</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/featured">Featured</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <% if (cookies.organization) { %>
              <a class="nav-link" href="/organizations/<%= cookies.organization._id %>">My Organization</a>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Featured</h1>

      <% if (featured.organizations.length > 0) { %>
        <h3>Featured Nonprofit Organizations</h3>
        <div class="featured-grid">
          <% for (organization of featured.organizations) { %>
            <div class="featured">
              <h3><%= organization.name %></h3>
              <p><%= organization.description %></p>
            </div>
          <% } %>
        </div>
      <% } %>

      <% if (featured.posts.length > 0) { %>
        <h3>Featured Posts</h3>
        <div class="featured-grid">
          <% for (post of featured.posts) { %>
            <div class="featured">
              <h3><%= post.name %></h3>
              <p><%= post.description %></p>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </body>
</html>
