<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Branding for Nonprofit Organizations, Opportunities for everyone!</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/opportunities">Opportunities</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (cookies.organization.logo) { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="<%= s3Link %><%= cookies.organization.logo %>" alt="">
                    </div>
                  <% } else { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                    </div>
                  <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="home-container">
        <div>
          <h1>NPO Core</h1>
          <p>
            NPO Core is your one-stop shop for all things nonprofits. Whether you’re finding partners, volunteering, or creating your own nonprofit, you’ll find something for you here on NPO Core.
          </p>
          <p>
            In partnership with <a href="https://www.instagram.com/youngminds.global/" target="_blank">Youth Minds Global</a> <a href="https://www.instagram.com/youngminds.global/" target="_blank"><img class="ymg-logo" src="/static/img/ymg.png" alt=""></a>
          </p>
          <div class="cta-buttons">
            <a class="ghost-cta-button" href="/register">Register your NPO</a>
            <a class="solid-cta-button" href="https://join.slack.com/t/npocore/shared_invite/zt-dybo6qvb-ofo_~hCA5Zarn7bP2qhpow" target="_blank">Join the Slack!</a>
          </div>
        </div>
        <img src="/static/img/illustration.png" alt="">
      </div>
    </div>
  </body>
</html>
