<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Make a Post!</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/opportunities">Opportunities</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (cookies.organization.logo) { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="<%= s3Link %><%= cookies.organization.logo %>" alt="">
                    </div>
                  <% } else { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                    </div>
                  <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="demo-container">
        <div class="make-post-container">
          <h1>Make a Post</h1>
          <p>
            Post about anything! Events, organization updates, or promotions, just post them here!
          </p>

          <form method="post">
            <label>Title:</label><br>
            <input id="title-text-input" class="form-control" type="text" name="title" placeholder="Title" required>
            <br>
            <label>Content:</label><br>
            <textarea id="content-text-input" class="form-control" name="content" rows="5" placeholder="Content" required></textarea>
            <br>
            <label>CTA Button Customization:</label><br>
            <div class="cta-button-options">
              <input id="cta-button-text-input" class="form-control" type="text" name="buttonText" placeholder="Button Text" required>
              <input id="cta-button-link-input" class="form-control" type="url" name="buttonLink" placeholder="Button URL" required>
            </div>
            <div class="my-3">
              <label>Button color:</label><br>
              <input id="cta-button-color-input" type="color" name="buttonColor" value="#f28c41" required>
              <label id="cta-button-color-label"></label>
            </div>
            <input class="solid-cta-button w-100" type="submit" value="Post!">
          </form>
        </div>
        <div class="post">
          <h1>Preview</h1>
          <p>
            Preview what your post will look like before you post it!
          </p>
          <h3 id="title-demo">[No title provided]</h3>
          <strong>By: <a href="/@<%= cookies.organization.idName %>" target="_blank"><%= cookies.organization.name %></a></strong>
          <br>
          <small>Posted: <%= new Date().toLocaleDateString("en-US") %></small>
          <p id="content-demo" class="mt-3">[No content provided]</p>
          <div class="text-right">
            <br><br>
            <a class="solid-cta-button" id="cta-button-demo" href="#" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const titleTextInput = document.getElementById("title-text-input");
    const contentTextInput = document.getElementById("content-text-input");
    const ctaButtonTextInput = document.getElementById("cta-button-text-input");
    const ctaButtonLinkInput = document.getElementById("cta-button-link-input");
    const ctaButtonColorInput = document.getElementById("cta-button-color-input");
    const ctaButtonColorLabel = document.getElementById("cta-button-color-label");

    const ctaButtonDemo = document.getElementById("cta-button-demo");
    const titleDemo = document.getElementById("title-demo");
    const contentDemo = document.getElementById("content-demo");

    ctaButtonDemo.style.border = "none";
    updateDemos();

    function updateDemos() {
      // TITLE INPUT
      titleDemo.innerHTML = titleTextInput.value || "[No title provided]";

      // CONTENT INPUT
      contentDemo.innerHTML = contentTextInput.value || "[No content provided]";

      // CTA BUTTON
      ctaButtonDemo.innerHTML = ctaButtonTextInput.value || "[No text provided]";
      ctaButtonDemo.href = ctaButtonLinkInput.value;
      ctaButtonDemo.style.backgroundColor = ctaButtonColorInput.value;
      ctaButtonColorLabel.innerHTML = ctaButtonColorInput.value;
    }

    $("input").on("change keyup paste", function(){
      updateDemos();
    });

    $("textarea").on("change keyup paste", function(){
      updateDemos();
    });

    window.onbeforeunload = function(){
      return 'Are you sure you want to leave?';
    };
  </script>
</html>
