<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Index</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (cookies.organization.logo) { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/media/logos/<%= cookies.organization.logo %>" alt="">
                    </div>
                  <% } else { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                    </div>
                  <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/organizations/<%= cookies.organization._id %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="organization-container">
        <div class="left">
          <div class="image-cropper">
            <% if (organization.logo) { %>
              <img src="/static/media/logos/<%= organization.logo %>" alt="">
            <% } else { %>
              <img src="/static/img/no-logo.png" alt="">
            <% } %>
          </div>

          <!-- ADMIN COMPONENTS -->
          <% if (cookies.organization) { %>
            <% if (cookies.organization._id == organization._id) { %>
              <div class="admin-components mt-4">
                <% if (!cookies.organization.verifiedNonprofit) { %>
                  <a class="solid-cta-button" href="/organizations/<%= organization._id %>/verify-nonprofit-status">Verify 501(c)(3) status</a>
                <% } %>
                <a class="solid-cta-button" href="/organizations/<%= organization._id %>/update">Update Organization</a>
                <a class="solid-cta-button" href="/organizations/<%= organization._id %>/post">Make Post</a>
                <button id="disabledBump" class="solid-cta-button disabled" disabled>Already bumped this hour!</button>
                <button id="bump" class="solid-cta-button" onclick="bump()">Bump</button>
              </div>
            <% } %>
          <% } else { %>
            <form class="subscribe-form mt-4" method="post">
              <input class="form-control" type="email" name="email" placeholder="Email">
              <input class="solid-cta-button" type="submit" value="Subscribe!">
            </form>
          <% } %>
        </div>
        <div class="right">
          <h1><%= organization.name %></h1>
          <p><%= organization.description %></p>
          <div class="right-grid">
            <div>
              <p><strong>Cause:</strong> <%= organization.cause %></p>
              <p><strong>Gender:</strong> <%= organization.gender %></p>
              <p><strong>Verified 501(c)(3) Nonprofit:</strong> <%= organization.verifiedNonprofit %></p>

              <% if (cookies.organization) { %>
                <% if (cookies.organization) { %>
                  <p><strong>NPO Score:</strong> <%= organization.npoScore %></p>
                <% } %>
              <% } %>

              <% if (organization.location.name) { %>
                <p><strong>Location:</strong> <%= organization.location.name %></p>
              <% } %>
            </div>
            <div></div>
          </div>

          <% if (organization.interests) { %>
            <div class="interests">
              <% for (interest of organization.interests) { %>
                <small><%= interest %></small>
              <% } %>
            </div>
          <% } %>

          <h3 class="mt-4">Posts</h3>
          <% if (organization.posts.length > 0) { %>
            <div class="featured-grid posts mt-3">
              <% for (post of organization.posts) { %>
                <div class="post">
                  <h3><%= post.title %></h3>
                  <strong>By: <a href="/organizations/<%= post.creator._id %>"><%= post.creator.name %></a></strong>
                  <br>
                  <small>Posted: <%= post.datetimePosted.toLocaleDateString("en-US") %></small>
                  <p class="post-content mt-3"><%= post.content %></p>
                  <div class="text-right">
                    <button id="<%= post._id %>" class="btn btn-link p-0" onClick="readMore(this.id)">
                      <small>Read More</small>
                    </button>
                  </div>
                </div>
              <% } %>
            </div>
          <% } else { %>
            <small>No posts made yet!</small>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <script>
    const organization = <%- JSON.stringify(cookies.organization) %>;
    if (organization.bumpedInLastHour) {
      document.getElementById("bump").style.display = "none";
      document.getElementById("disabledBump").style.display = "inline-block";
    } else {
      document.getElementById("bump").style.display = "inline-block";
      document.getElementById("disabledBump").style.display = "none";
    }

    function bump() {
      const organization = <%- JSON.stringify(cookies.organization) %>;

      fetch("/api/bump", {
        method: "POST",
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        body: JSON.stringify(organization)
      });

      // SWITCH OUT BUTTON WITH DISABLED ONE
      document.getElementById("bump").style.display = "none";
      document.getElementById("disabledBump").style.display = "inline-block";
    }

    function readMore(id) {
      const readMoreButton = document.getElementById(id);
      // const readMoreButton = event.target;
      // readMoreButton.parentNode.style.display = "none";
      readMoreButton.parentNode.parentNode.querySelector("p").className = "";
      readMoreButton.style.display = "none";
    }
  </script>
</html>
