<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - <%= organization.name %></title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/opportunities">Opportunities</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="image-cropper-container">
                    <div class="image-cropper">
                      <% if (cookies.organization.logo) { %>
                        <img class="nav-logo" src="<%= s3Link %><%= cookies.organization.logo %>" alt="">
                      <% } else { %>
                        <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                      <% } %>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        What's new in NPO Core v2.0? <strong><a href="/news/whats-new-in-npo-core-v2" target="_blank">Check it out!</a></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="organization-container">
        <div class="left">
          <div class="image-cropper-container">
            <div class="image-cropper" style="border-width: 5px;">
              <% if (organization.logo) { %>
                <img src="<%= s3Link %><%= organization.logo %>" alt="">
              <% } else { %>
                <img src="/static/img/no-logo.png" alt="">
              <% } %>
            </div>
            <% if (organization.verifiedNonprofit) { %>
              <img class="nonprofit-badge" src="/static/img/icons/501c3.svg" alt="">
            <% } %>
          </div>

          <!-- ADMIN COMPONENTS -->
          <% if (cookies.organization) { %>
            <% if (cookies.organization._id == organization._id) { %>
              <div class="admin-components mt-4">
                <% if (!cookies.organization.verifiedNonprofit) { %>
                  <a class="solid-cta-button" href="/@<%= organization.idName %>/verify-nonprofit-status">Verify 501(c)(3) status</a>
                <% } %>
                <a class="solid-cta-button" href="/@<%= organization.idName %>/update">Update Organization</a>
                <a class="solid-cta-button" href="/@<%= organization.idName %>/post">Make Post</a>
                <button id="disabledBump" class="solid-cta-button disabled" disabled>Already bumped!</button>
                <button id="bump" class="solid-cta-button" onclick="bump()">Bump</button>
              </div>
            <% } %>
          <% } else { %>
            <form class="subscribe-form mt-4" method="post">
              <input class="form-control" type="email" name="email" placeholder="Email">
              <input class="solid-cta-button" type="submit" value="Subscribe!">
            </form>
          <% } %>
        </div>
        <div class="right">
          <h1><%= organization.name %></h1>
          <p><%= organization.description %></p>
          <div class="right-grid">
            <div>
              <p><strong>Target Audiences:</strong> <%= organization.targetAudiences.join(", ") %></p>
              <p><strong>Causes:</strong> <%= organization.causes.join(", ") %></p>

              <% if (cookies.organization) { %>
                <% if (cookies.organization) { %>
                  <p class="mb-0"><strong>NPO Score:</strong> <%= organization.npoScore.toFixed(2) %></p>
                  <small><a href="/news/what-is-a-npo-score" target="_blank">What is a NPO Score?</a></small>
                <% } %>
              <% } %>

              <% if (organization.location.name) { %>
                <p><strong>Location:</strong> <%= organization.location.name %></p>
              <% } %>
            </div>
            <div>
                <div class="social-links">
                  <a href="mailto:<%= organization.email %>" target="_blank">
                    <img src="/static/img/icons/email.svg" alt="">
                  </a>
                  <% if (organization.links) { %>
                    <% if (organization.links.instagram) { %>
                      <a href="<%= organization.links.instagram %>" target="_blank">
                        <img src="/static/img/icons/instagram.svg" alt="">
                      </a>
                    <% } %>
                    <% if (organization.links.facebook) { %>
                      <a href="<%= organization.links.facebook %>" target="_blank">
                        <img src="/static/img/icons/facebook.svg" alt="">
                      </a>
                    <% } %>
                    <% if (organization.links.twitter) { %>
                      <a href="<%= organization.links.twitter %>" target="_blank">
                        <img src="/static/img/icons/twitter.svg" alt="">
                      </a>
                    <% } %>
                    <% if (organization.links.linkedin) { %>
                      <a href="<%= organization.links.linkedin %>" target="_blank">
                        <img src="/static/img/icons/linkedin.svg" alt="">
                      </a>
                    <% } %>
                    <% if (organization.links.website) { %>
                      <a href="<%= organization.links.website %>" target="_blank">
                        <img src="/static/img/icons/website.svg" alt="">
                      </a>
                    <% } %>
                  <% } %>
                </div>
            </div>
          </div>

          <% if (organization.interests) { %>
            <div class="interests">
              <% for (interest of organization.interests) { %>
                <small><%= interest %></small>
              <% } %>
            </div>
          <% } %>

          <h3 class="mt-4">Posts</h3>
          <% if (posts.length > 0) { %>
            <div class="grid-posts posts mt-3">
              <% for (post of posts) { %>
                <div class="post" id="<%= post._id %>">
                  <% if (post.image) { %>
                    <img class="post-image" src="<%= s3Link %><%= post.image %>" alt="">
                  <% } %>
                  <div class="p-3">
                    <h3>
                      <%= post.title %>
                      <button style="font-size: 30px; line-height: 1; float: right; padding: 0;" class="btn" id="x" onclick="deletePost('<%= post._id %>')">&times;</button>
                    </h3>
                    <strong>By: <a href="/@<%= post.creator.idName %>"><%= post.creator.name %></a></strong>
                    <br>
                    <small>Posted: <%= post.datetimePosted.toLocaleDateString("en-US") %></small>
                    <p class="post-content mt-3"><%= post.content %></p>
                    <div class="text-right">
                      <button id="button-<%= post._id %>" class="btn btn-link p-0" onClick="readMore(this.id)">
                        <small>Read More</small>
                      </button>
                    </div>
                    <p><small class="type"><%= post.type %></small></p>
                    <a style="background-color: <%= post.button.color %>;border-color: <%= post.button.color %>;" class="solid-cta-button" href="<%= post.button.link %>" target="_blank"><%= post.button.text %></a>
                  </div>
                </div>
              <% } %>
            </div>
          <% } else { %>
            <small>No posts made yet!</small>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <script>
    const organization = <%- JSON.stringify(cookies.organization) %>;
    if (organization.bumpedInLastHour) {
      document.getElementById("bump").style.display = "none";
      document.getElementById("disabledBump").style.display = "inline-block";
    } else {
      document.getElementById("bump").style.display = "inline-block";
      document.getElementById("disabledBump").style.display = "none";
    }

    function deletePost(postId) {
      const postElement = document.getElementById(postId);

      alertify.confirm("Are you sure you want to delete this post?",
        function() {
          postElement.style.display = "none";

          fetch(`/api/delete-post?postId=${postId}`, {
            method: "POST"
          }, (data) => {
            console.log(data);
          });

          alertify.success("Post successfully deleted!");
        }
      ).set({ title: "Confirm post deletion" });
    }

    function bump() {
      const organization = <%- JSON.stringify(cookies.organization) %>;

      fetch("/api/bump", {
        method: "POST",
        mode: 'cors',
        cache: 'no-cache',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json'
        },
        redirect: 'follow',
        referrerPolicy: 'no-referrer',
        body: JSON.stringify(organization)
      });

      // SWITCH OUT BUTTON WITH DISABLED ONE
      document.getElementById("bump").style.display = "none";
      document.getElementById("disabledBump").style.display = "inline-block";
    }

    function readMore(buttonId) {
      const readMoreButton = document.getElementById(buttonId);
      console.log(readMoreButton)
      // const readMoreButton = event.target;
      // readMoreButton.parentNode.style.display = "none";
      readMoreButton.parentNode.parentNode.querySelector("p").className = "";
      readMoreButton.style.display = "none";
    }
  </script>
</html>
