<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Update your Nonprofit Organization's Profile!</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (cookies.organization.logo) { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/media/logos/<%= cookies.organization.logo %>" alt="">
                    </div>
                  <% } else { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                    </div>
                  <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="form-container">
        <h1>Update <%= organization.name %></h1>

        <form enctype="multipart/form-data" method="post">
          <label>Organization Name:</label><br>
          <input name="name" class="form-control" type="text" value="<%= organization.name %>" required />
          <br>
          <label>Organization Email:</label><br>
          <input name="email" class="form-control" type="email" value="<%= organization.email %>" required />
          <br>
          <label>Organization Description:</label><br>
          <textarea name="description" class="form-control" rows="5" required><%= organization.description %></textarea>
          <br>
          <label>Organization Logo:</label>
          <input name="logo" type="file" accept='image/*'>
          <br>
          <label>Organization Location:</label><br>
          <input name="location" id="autocomplete" class="form-control" type="text" value="<%= organization.location.name %>" />
          <br>
          <label class="mt-2">Gender: (that your organization targets)</label>
          <br>
          <select name="gender" required>
            <% if (organization.gender == "Everyone") { %>
              <option value="Everyone">Everyone</option>
            <% } %>
            <% if (organization.gender == "Male") { %>
              <option value="Male">Male</option>
            <% } %>
            <% if (organization.gender == "Female") { %>
              <option value="Female">Female</option>
            <% } %>
            <% if (organization.gender == "Non-binary") { %>
              <option value="Non-binary">Non-binary</option>
            <% } %>
          </select>
          <br>
          <label class="mt-2">Cause:</label><br>
          <select name="cause" required>
            <% if (organization.cause == "Animal Welfare") { %>
              <option value="Animal Welfare">Animal Welfare</option>
            <% } %>
            <% if (organization.cause == "Arts and Culture") { %>
              <option value="Arts and Culture">Arts and Culture</option>
            <% } %>
            <% if (organization.cause == "Children") { %>
              <option value="Children">Children</option>
            <% } %>
            <% if (organization.cause == "Civil Rights and Social Action") { %>
              <option value="Civil Rights and Social Action">Civil Rights and Social Action</option>
            <% } %>
            <% if (organization.cause == "Disaster Relief") { %>
              <option value="Disaster Relief">Disaster Relief</option>
            <% } %>
            <% if (organization.cause == "Economic Empowerment") { %>
              <option value="Economic Empowerment">Economic Empowerment</option>
            <% } %>
            <% if (organization.cause == "Education") { %>
              <option value="Education">Education</option>
            <% } %>
            <% if (organization.cause == "Environment") { %>
              <option value="Environment">Environment</option>
            <% } %>
            <% if (organization.cause == "Health") { %>
              <option value="Health">Health</option>
            <% } %>
            <% if (organization.cause == "Human Rights") { %>
              <option value="Human Rights">Human Rights</option>
            <% } %>
            <% if (organization.cause == "Politics") { %>
              <option value="Politics">Politics</option>
            <% } %>
            <% if (organization.cause == "Poverty Alleviation") { %>
              <option value="Poverty Alleviation">Poverty Alleviation</option>
            <% } %>
            <% if (organization.cause == "Science and Technology") { %>
              <option value="Science and Technology">Science and Technology</option>
            <% } %>
            <% if (organization.cause == "Social Services") { %>
              <option value="Social Services">Social Services</option>
            <% } %>
          </select>
          <br>
          <label class="mt-4">Looking for:</label><br>
          <div class="looking-for-checkboxes">
            <% if (organization.interests) { %>
              <% if (organization.interests.includes("Members")) { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Members" checked /> <label>Members</label></div>
              <% } else { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Members" /> <label>Members</label></div>
              <% } %>
              <% if (organization.interests.includes("Partnerships")) { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Partnerships" checked /> <label>Partnerships</label></div>
              <% } else { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Partnerships" /> <label>Partnerships</label></div>
              <% } %>
              <% if (organization.interests.includes("Sponsors")) { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Sponsors" checked /> <label>Sponsors</label></div>
              <% } else { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Sponsors" /> <label>Sponsors</label></div>
              <% } %>
              <% if (organization.interests.includes("Clients")) { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Clients" checked /> <label>Clients</label></div>
              <% } else { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Clients" /> <label>Clients</label></div>
              <% } %>
              <% if (organization.interests.includes("Opportunities")) { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Opportunities" checked /> <label>Opportunities</label></div>
              <% } else { %>
                <div><input name="interests" class="interest-checkbox" type="checkbox" value="Opportunities" /> <label>Opportunities</label></div>
              <% } %>
            <% } else { %>
              <div><input name="interests" class="interest-checkbox" type="checkbox" value="Members" /> <label>Members</label></div>
              <div><input name="interests" class="interest-checkbox" type="checkbox" value="Partnerships" /> <label>Partnerships</label></div>
              <div><input name="interests" class="interest-checkbox" type="checkbox" value="Sponsors" /> <label>Sponsors</label></div>
              <div><input name="interests" class="interest-checkbox" type="checkbox" value="Clients" /> <label>Clients</label></div>
              <div><input name="interests" class="interest-checkbox" type="checkbox" value="Opportunities" /> <label>Opportunities</label></div>
            <% } %>
          </div>

          <br>
          <label>Organization Links:</label><br>
          <% if (organization.links) { %>
            <% if (organization.links.instagram) { %>
              <input name="instagram" class="form-control mb-2" type="url" placeholder="Instagram" value="<%= organization.links.instagram %>" />
            <% } else { %>
              <input name="instagram" class="form-control mb-2" type="url" placeholder="Instagram" />
            <% } %>
            <% if (organization.links.facebook) { %>
              <input name="facebook" class="form-control mb-2" type="url" placeholder="Facebook" value="<%= organization.links.facebook %>" />
            <% } else { %>
              <input name="facebook" class="form-control mb-2" type="url" placeholder="Facebook" />
            <% } %>
            <% if (organization.links.twitter) { %>
              <input name="twitter" class="form-control mb-2" type="url" placeholder="Twitter" value="<%= organization.links.twitter %>" />
            <% } else { %>
              <input name="twitter" class="form-control mb-2" type="url" placeholder="Twitter" />
            <% } %>
            <% if (organization.links.linkedin) { %>
              <input name="linkedin" class="form-control mb-2" type="url" placeholder="LinkedIn" value="<%= organization.links.linkedin %>" />
            <% } else { %>
              <input name="linkedin" class="form-control mb-2" type="url" placeholder="LinkedIn" />
            <% } %>
            <% if (organization.links.instagram) { %>
              <input name="website" class="form-control mb-2" type="url" placeholder="Website" value="<%= organization.links.website %>" />
            <% } else { %>
              <input name="website" class="form-control mb-2" type="url" placeholder="Website" />
            <% } %>
          <% } else { %>
            <input name="instagram" class="form-control mb-2" type="url" placeholder="Instagram" />
            <input name="facebook" class="form-control mb-2" type="url" placeholder="Facebook" />
            <input name="twitter" class="form-control mb-2" type="url" placeholder="Twitter" />
            <input name="linkedin" class="form-control mb-2" type="url" placeholder="LinkedIn" />
            <input name="website" class="form-control mb-2" type="url" placeholder="Website" />
          <% } %>
          <br>

          <input class="solid-cta-button w-100" type="submit" value="Update!">
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey %>&libraries=places"></script>
  <script>
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);
  </script>
</html>
