<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Index</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <% if (cookies.organization) { %>
              <a class="nav-link" href="/organizations/<%= cookies.organization._id %>">My Organization</a>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1><%= organization.name %></h1>
      <p>
        <strong>Description:</strong> <%= organization.description %>
      </p>
      <p>
        <strong>Email:</strong> <%= organization.email %>
      </p>
      <p><strong>Cause:</strong> <%= organization.cause %></p>
      <p><strong>Gender:</strong> <%= organization.gender %></p>
      <p><strong>Location:</strong> <%= organization.location %></p>
      <% if (organization.interests) { %>
        <h3>Interests</h3>
        <ul>
          <% for (interest of organization.interests) { %>
            <li><%= interest %></li>
          <% } %>
        </ul>
      <% } %>
      <% if (organization.links) { %>
        <h3>Links</h3>
        <ul>
          <% for (link of organization.links) { %>
            <li><%= link %></li>
          <% } %>
        </ul>
      <% } %>
      <% if (organization.posts) { %>
        <h3>Posts</h3>
        <div class="posts">
          <% for (post of organization.posts) { %>
            <div class="post">
              <h3><%= post.title %></h3>
              <small>Posted: <%= post.datetimePosted %></small><br>
              <small>By: <%= post.creator.name %></small>
              <p><%= post.content %></p>
            </div>
          <% } %>
        </div>
      <% } %>
      <a class="solid-cta-button" href="/organizations/<%= organization._id %>/update">Update Organization</a>
      <a class="solid-cta-button" href="/organizations/<%= organization._id %>/post">Make Post</a>
    </div>
  </body>
</html>
