<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Update your Nonprofit Organization's Profile!</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/opportunities">Opportunities</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="image-cropper-container">
                    <div class="image-cropper">
                      <% if (cookies.organization.logo) { %>
                        <img class="nav-logo" src="<%= s3Link %><%= cookies.organization.logo %>" alt="">
                      <% } else { %>
                        <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                      <% } %>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="form-container" data-aos="fade-up">
        <h1>Update <%= organization.name %></h1>

        <form enctype="multipart/form-data" method="post">
          <label>Organization Name:</label><br>
          <input name="name" class="form-control" type="text" value="<%= organization.name %>" maxlength="50" required />
          <br>
          <label>Organization Email:</label><br>
          <input name="email" class="form-control" type="email" value="<%= organization.email %>" maxlength="50" required />
          <br>
          <label>Organization Description:</label><br>
          <textarea name="description" class="form-control" rows="5" maxlength="300" required><%= organization.description %></textarea>
          <br>
          <label>Organization Logo:</label>
          <input name="logo" type="file" accept='image/*'>
          <br>
          <label>Organization Location:</label><br>
          <input name="location" id="autocomplete" class="form-control" maxlength="200" type="text" value="<%= organization.location.name %>" />
          <br>
          <label class="mt-2">Target Audience:</label>
          <br>
          <select class="selectpicker" name="targetAudiences" multiple data-max-options="3" required>
            <% if (organization.targetAudiences.includes("Everyone")) { %>
              <option value="Everyone" selected>Everyone</option>
            <% } else { %>
              <option value="Everyone">Everyone</option>
            <% } %>
            <% if (organization.targetAudiences.includes("Kids")) { %>
              <option value="Kids" selected>Kids</option>
            <% } else { %>
              <option value="Kids">Kids</option>
            <% } %>
            <% if (organization.targetAudiences.includes("Teens")) { %>
              <option value="Teens" selected>Teens</option>
            <% } else { %>
              <option value="Teens">Teens</option>
            <% } %>
            <% if (organization.targetAudiences.includes("Adults")) { %>
              <option value="Adults" selected>Adults</option>
            <% } else { %>
              <option value="Adults">Adults</option>
            <% } %>
            <% if (organization.targetAudiences.includes("Seniors")) { %>
              <option value="Seniors" selected>Seniors</option>
            <% } else { %>
              <option value="Seniors">Seniors</option>
            <% } %>
            <% if (organization.targetAudiences.includes("Groups")) { %>
              <option value="Groups" selected>Groups</option>
            <% } else { %>
              <option value="Groups">Groups</option>
            <% } %>
          </select>
          <br>
          <label class="mt-2">Cause:</label><br>
          <select class="selectpicker" name="causes" data-live-search="true" multiple data-max-options="3" required>
            <% if (organization.cause == "Advocacy and Human Rights") { %>
              <option value="Advocacy and Human Rights" selected>Advocacy and Human Rights</option>
            <% } else { %>
              <option value="Advocacy and Human Rights">Advocacy and Human Rights</option>
            <% } %>
            <% if (organization.causes.includes("Animal Welfare")) { %>
              <option value="Animal Welfare" selected>Animal Welfare</option>
            <% } else { %>
              <option value="Animal Welfare">Animal Welfare</option>
            <% } %>
            <% if (organization.causes.includes("Arts and Culture")) { %>
              <option value="Arts and Culture" selected>Arts and Culture</option>
            <% } else { %>
              <option value="Arts and Culture">Arts and Culture</option>
            <% } %>
            <% if (organization.causes.includes("Children and Youth")) { %>
              <option value="Children and Youth" selected>Children and Youth</option>
            <% } else { %>
              <option value="Children and Youth">Children and Youth</option>
            <% } %>
            <% if (organization.causes.includes("Civil Rights and Social Action")) { %>
              <option value="Civil Rights and Social Action" selected>Civil Rights and Social Action</option>
            <% } else { %>
              <option value="Civil Rights and Social Action">Civil Rights and Social Action</option>
            <% } %>
            <% if (organization.causes.includes("Crisis Support")) { %>
              <option value="Crisis Support" selected>Crisis Support</option>
            <% } else { %>
              <option value="Crisis Support">Crisis Support</option>
            <% } %>
            <% if (organization.causes.includes("Disaster Relief")) { %>
              <option value="Disaster Relief" selected>Disaster Relief</option>
            <% } else { %>
              <option value="Disaster Relief">Disaster Relief</option>
            <% } %>
            <% if (organization.causes.includes("Emergency and Safety")) { %>
              <option value="Emergency and Safety" selected>Emergency and Safety</option>
            <% } else { %>
              <option value="Emergency and Safety">Emergency and Safety</option>
            <% } %>
            <% if (organization.causes.includes("Education")) { %>
              <option value="Education" selected>Education</option>
            <% } else { %>
              <option value="Education">Education</option>
            <% } %>
            <% if (organization.causes.includes("Environment")) { %>
              <option value="Environment" selected>Environment</option>
            <% } else { %>
              <option value="Environment">Environment</option>
            <% } %>
            <% if (organization.causes.includes("Female Empowerment")) { %>
              <option value="Female Empowerment" selected>Female Empowerment</option>
            <% } else { %>
              <option value="Female Empowerment">Female Empowerment</option>
            <% } %>
            <% if (organization.causes.includes("Health")) { %>
              <option value="Health" selected>Health</option>
            <% } else { %>
              <option value="Health">Health</option>
            <% } %>
            <% if (organization.causes.includes("Homeless and Housing")) { %>
              <option value="Homeless and Housing" selected>Homeless and Housing</option>
            <% } else { %>
              <option value="Homeless and Housing">Homeless and Housing</option>
            <% } %>
            <% if (organization.causes.includes("Politics")) { %>
              <option value="Politics" selected>Politics</option>
            <% } else { %>
              <option value="Politics">Politics</option>
            <% } %>
            <% if (organization.causes.includes("LGBTQ+")) { %>
              <option value="LGBTQ+" selected>LGBTQ+</option>
            <% } else { %>
              <option value="LGBTQ+">LGBTQ+</option>
            <% } %>
            <% if (organization.causes.includes("Race and Ethnicity")) { %>
              <option value="Race and Ethnicity" selected>Race and Ethnicity</option>
            <% } else { %>
              <option value="Race and Ethnicity">Race and Ethnicity</option>
            <% } %>
            <% if (organization.causes.includes("Poverty Alleviation")) { %>
              <option value="Poverty Alleviation" selected>Poverty Alleviation</option>
            <% } else { %>
              <option value="Poverty Alleviation">Poverty Alleviation</option>
            <% } %>
            <% if (organization.causes.includes("Science and Technology")) { %>
              <option value="Science and Technology" selected>Science and Technology</option>
            <% } else { %>
              <option value="Science and Technology">Science and Technology</option>
            <% } %>
            <% if (organization.causes.includes("Social Services")) { %>
              <option value="Social Services" selected>Social Services</option>
            <% } else { %>
              <option value="Social Services">Social Services</option>
            <% } %>
            <% if (organization.causes.includes("Veterans and Military Families")) { %>
              <option value="Veterans and Military Families" selected>Veterans and Military Families</option>
            <% } else { %>
              <option value="Veterans and Military Families">Veterans and Military Families</option>
            <% } %>
          </select>
          <br>
          <label class="mt-4">Looking for:</label><br>
          <select class="selectpicker" name="interests" multiple required>
            <% if (organization.interests) { %>
              <% if (organization.interests.includes("Members")) { %>
                <option value="Members" selected>Members</option>
              <% } else { %>
                <option value="Members">Members</option>
              <% } %>
              <% if (organization.interests.includes("Partnerships")) { %>
                <option value="Partnerships" selected>Partnerships</option>
              <% } else { %>
                <option value="Partnerships">Partnerships</option>
              <% } %>
              <% if (organization.interests.includes("Sponsors")) { %>
                <option value="Sponsors" selected>Sponsors</option>
              <% } else { %>
                <option value="Sponsors">Sponsors</option>
              <% } %>
              <% if (organization.interests.includes("Clients")) { %>
                <option value="Clients" selected>Clients</option>
              <% } else { %>
                <option value="Clients">Clients</option>
              <% } %>
              <% if (organization.interests.includes("Opportunities")) { %>
                <option value="Opportunities" selected>Opportunities</option>
              <% } else { %>
                <option value="Opportunities">Opportunities</option>
              <% } %>
            <% } %>
          </select>
          <br>
          <label>Organization Links:</label><br>
          <% if (organization.links) { %>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img style="width: 17.5px;" src="/static/img/icons/instagram.svg" alt="">
                </span>
              </div>
              <% if (organization.links.instagram) { %>
                <input name="instagram" class="form-control" type="url" maxlength="100" placeholder="Instagram" value="<%= organization.links.instagram %>" />
              <% } else { %>
                <input name="instagram" class="form-control" type="url" maxlength="100" placeholder="Instagram" />
              <% } %>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img style="width: 17.5px;" src="/static/img/icons/facebook.svg" alt="">
                </span>
              </div>
              <% if (organization.links.facebook) { %>
                <input name="facebook" class="form-control" type="url" maxlength="100" placeholder="Facebook" value="<%= organization.links.facebook %>" />
              <% } else { %>
                <input name="facebook" class="form-control" type="url" maxlength="100" placeholder="Facebook" />
              <% } %>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img style="width: 17.5px;" src="/static/img/icons/twitter.svg" alt="">
                </span>
              </div>
              <% if (organization.links.twitter) { %>
                <input name="twitter" class="form-control" type="url" maxlength="100" placeholder="Twitter" value="<%= organization.links.twitter %>" />
              <% } else { %>
                <input name="twitter" class="form-control" type="url" maxlength="100" placeholder="Twitter" />
              <% } %>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img style="width: 17.5px;" src="/static/img/icons/linkedin.svg" alt="">
                </span>
              </div>
              <% if (organization.links.linkedin) { %>
                <input name="linkedin" class="form-control" type="url" maxlength="100" placeholder="LinkedIn" value="<%= organization.links.linkedin %>" />
              <% } else { %>
                <input name="linkedin" class="form-control" type="url" maxlength="100" placeholder="LinkedIn" />
              <% } %>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img style="width: 17.5px;" src="/static/img/icons/website.svg" alt="">
                </span>
              </div>
              <% if (organization.links.website) { %>
                <input name="website" class="form-control" type="url" maxlength="100" placeholder="Website" value="<%= organization.links.website %>" />
              <% } else { %>
                <input name="website" class="form-control" type="url" maxlength="100" placeholder="Website" />
              <% } %>
            </div>
          <% } else { %>
            <input name="instagram" class="form-control" type="url" maxlength="100" placeholder="Instagram" />
            <input name="facebook" class="form-control" type="url" maxlength="100" placeholder="Facebook" />
            <input name="twitter" class="form-control" type="url" maxlength="100" placeholder="Twitter" />
            <input name="linkedin" class="form-control" type="url" maxlength="100" placeholder="LinkedIn" />
            <input name="website" class="form-control" type="url" maxlength="100" placeholder="Website" />
          <% } %>
          <br>

          <input class="solid-cta-button w-100" type="submit" value="Update!">
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey %>&libraries=places"></script>
  <script>
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);

    const error = <%- JSON.stringify(error) %>;
    if (error) {
      alertify.error(error);
    }
  </script>
</html>
