<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Register your Nonprofit Organization today!</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/opportunities">Opportunities</a>
            </li>
            <% if (cookies.organization) { %>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if (cookies.organization.logo) { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="<%= s3Link %><%= cookies.organization.logo %>" alt="">
                    </div>
                  <% } else { %>
                    <div class="image-cropper">
                      <img class="nav-logo" src="/static/img/no-logo.png" alt="">
                    </div>
                  <% } %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/@<%= cookies.organization.idName %>">View my organization</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="form-container">
        <h1>Register</h1>

        <form enctype="multipart/form-data" method="post">
          <label>Organization Name: *</label><br>
          <input name="name" class="form-control" type="text" placeholder="Name" required />
          <br>
          <label>Organization Email: *</label><br>
          <input name="email" class="form-control" type="email" placeholder="Email" required />
          <br>
          <label>Organization Description: *</label><br>
          <textarea name="description" class="form-control" rows="5" placeholder="Message" required></textarea>
          <br>
          <label>Organization Password: *</label><br>
          <input name="password" class="form-control" type="password" placeholder="Password" required />
          <br>
          <label>Organization Location:</label><br>
          <input name="location" id="autocomplete" class="form-control" type="text" placeholder="Location" />
          <br>
          <label>Referrer (organization that referred you to NPO Core):</label><br>
          <select class="selectpicker" name="referrer">
            <option value="">None</option>
            <% for (orgName of orgNames) { %>
              <option value="<%= orgName %>"><%= orgName %></option>
            <% } %>
          </select>
          <br>
          <label>Organization Logo:</label>
          <input name="logo" type="file" accept='image/*'>
          <br>
          <label class="mt-3">Target Audience: *</label>
          <br>
          <select class="selectpicker" name="targetAudiences" multiple required>
            <option value="Everyone">Everyone</option>
            <option value="Kids">Kids</option>
            <option value="Teens">Teens</option>
            <option value="Adults">Adults</option>
            <option value="Seniors">Seniors</option>
            <option value="Groups">Groups</option>
          </select>
          <br>
          <label class="mt-2">Cause: *</label><br>
          <select class="selectpicker" name="causes" multiple required>
            <option value="Advocacy and Human Rights">Advocacy and Human Rights</option>
            <option value="Animal Welfare">Animal Welfare</option>
            <option value="Arts and Culture">Arts and Culture</option>
            <option value="Children and Youth">Children and Youth</option>
            <option value="Civil Rights and Social Action">Civil Rights and Social Action</option>
            <option value="Crisis Support">Crisis Support</option>
            <option value="Disaster Relief">Disaster Relief</option>
            <option value="Emergency and Safety">Emergency and Safety</option>
            <option value="Education">Education</option>
            <option value="Environment">Environment</option>
            <option value="Female Empowerment">Female Empowerment</option>
            <option value="Health">Health</option>
            <option value="Homeless and Housing">Homeless and Housing</option>
            <option value="Politics">Politics</option>
            <option value="LGBTQ+">LGBTQ+</option>
            <option value="Race and Ethnicity">Race and Ethnicity</option>
            <option value="Poverty Alleviation">Poverty Alleviation</option>
            <option value="Science and Technology">Science and Technology</option>
            <option value="Social Services">Social Services</option>
            <option value="Veterans and Military Families">Veterans and Military Families</option>
          </select>
          <br>
          <label class="mt-4">Looking for:</label><br>
          <select class="selectpicker" name="interests" multiple required>
            <option value="Members">Members</option>
            <option value="Partnerships">Partnerships</option>
            <option value="Sponsors">Sponsors</option>
            <option value="Clients">Clients</option>
            <option value="Opportunities">Opportunities</option>
          </select>
          <br>
          <label>Organization Links:</label><br>
          <input name="instagram" class="form-control mb-2" type="url" placeholder="Instagram" />
          <input name="facebook" class="form-control mb-2" type="url" placeholder="Facebook" />
          <input name="twitter" class="form-control mb-2" type="url" placeholder="Twitter" />
          <input name="linkedin" class="form-control mb-2" type="url" placeholder="LinkedIn" />
          <input name="website" class="form-control mb-2" type="url" placeholder="Website" />
          <br><br>

          <label class="mt-2">Legal: *</label>
          <div><input type="checkbox" required/> <label><small>I agree to the Launch Tech LLC <a href="https://www.launchtechllc.com/corporate/terms-of-service" target="_">Terms of Service</a>.</small></label></div>

          <input class="solid-cta-button w-100" type="submit" value="Register!">
          <div class="text-center">
            <small>Already have an account? <a href="/login">Login here</a></small>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey %>&libraries=places"></script>
  <script>
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);

    const error = <%- JSON.stringify(error) %>;
    if (error) {
      alertify.error(error);
    }
  </script>
</html>
