<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NPO Core - Register</title>

    <%- blockElements[0] %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/static/img/npocore.png" alt="NPO Core Logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-target">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-target">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/map">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/organizations">Organizations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts">Posts</a>
            </li>
            <% if (cookies.organization) { %>
              <a class="nav-link" href="/organizations/<%= cookies.organization._id %>">My Organization</a>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="btn btn-info ml-2" href="/login">Login/Register</a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1>Register</h1>

      <div class="form-container">
        <h1>Register</h1>

        <form enctype="multipart/form-data" method="post">
          <label>Organization Name:</label><br>
          <input name="name" class="form-control" type="text" required />
          <br>
          <label>Organization Email:</label><br>
          <input name="email" class="form-control" type="email" required />
          <br>
          <label>Organization Description:</label><br>
          <textarea name="description" class="form-control" rows="5" required></textarea>
          <br>
          <label>Organization Password:</label><br>
          <input name="password" class="form-control" type="password" required />
          <br>
          <label>Organization Location:</label><br>
          <input name="location" id="autocomplete" class="form-control" type="text" placeholder="Location" required />
          <br>
          <label>Organization Logo:</label>
          <input name="logo" type="file" accept='image/*'>
          <br>
          <label class="mt-2">Gender: (that your organization targets)</label>
          <br>
          <select name="gender" required>
            <option value="">----------</option>
            <option value="Everyone">Everyone</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Non-binary">Non-binary</option>
          </select>
          <br>
          <label class="mt-2">Cause:</label><br>
          <select name="cause" required>
            <option value="">----------</option>
            <option value="Animal Welfare">Animal Welfare</option>
            <option value="Arts and Culture">Arts and Culture</option>
            <option value="Children">Children</option>
            <option value="Civil Rights and Social Action">Civil Rights and Social Action</option>
            <option value="Disaster Relief">Disaster Relief</option>
            <option value="Economic Empowerment">Economic Empowerment</option>
            <option value="Education">Education</option>
            <option value="Environment">Environment</option>
            <option value="Health">Health</option>
            <option value="Human Rights">Human Rights</option>
            <option value="Politics">Politics</option>
            <option value="Poverty Alleviation">Poverty Alleviation</option>
            <option value="Science and Technology">Science and Technology</option>
            <option value="Social Services">Social Services</option>
          </select>
          <br>
          <label class="mt-4">Looking for:</label><br>
          <div class="looking-for-checkboxes">
            <div><input name="interests" class="interest-checkbox" type="checkbox" value="Members"/> <label>Members</label></div>
            <div><input name="interests" class="interest-checkbox" type="checkbox" value="Partnerships"/> <label>Partnerships</label></div>
            <div><input name="interests" class="interest-checkbox" type="checkbox" value="Sponsors"/> <label>Sponsors</label></div>
            <div><input name="interests" class="interest-checkbox" type="checkbox" value="Clients"/> <label>Clients</label></div>
            <div><input name="interests" class="interest-checkbox" type="checkbox" value="Opportunities"/> <label>Opportunities</label></div>
          </div>

          <label class="mt-2">Legal:</label>
          <div><input type="checkbox" required/> <label><small>I have read the Launch Tech LLC <a href="https://www.launchtechllc.com/corporate/terms-of-service" target="_">Terms of Service</a>.</small></label></div>

          <input class="solid-cta-button w-100" type="submit" value="Register!">
          <div class="text-center">
            <small>Don't have an account? <a href="/register">Register Here</a></small>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey %>&libraries=places"></script>
  <script>
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);
  </script>
</html>
