body {
  position: relative;
  background-color: #eee !important;
  min-height: 100vh; }

.navbar-nav {
  display: flex;
  align-items: center; }

.navbar-brand img {
  width: 250px; }

.nav-logo {
  width: 40px !important;
  display: inline;
  background-color: white; }

.float-container {
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }

@media (max-width: 600px) {
  .float-container {
    width: 100%; } }

@media (max-width: 500px) {
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, 100%) !important; } }

.cta-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 100%; }

.image-cropper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #12c3c3; }
  .image-cropper img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%; }

.image-cropper-container {
  position: relative;
  height: 50px; }

.nonprofit-badge {
  position: absolute;
  z-index: 10;
  width: 30% !important;
  right: 0;
  bottom: 0; }

#diagonal-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #12c3c3;
  clip-path: polygon(0 78%, 100% 13%, 100% 100%, 0% 100%);
  z-index: -1; }

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white; }

.npocore-logo {
  height: 30px; }

.solid-cta-button {
  background-color: #f28c41;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  border: 2px solid #f28c41;
  transition: all .2s; }
  .solid-cta-button:hover {
    color: white;
    text-decoration: none;
    background-color: #ee7115;
    border: 2px solid #ee7115; }

.ghost-cta-button {
  background-color: transparent;
  border: 2px solid #f28c41;
  color: #f28c41;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  transition: all .2s; }
  .ghost-cta-button:hover {
    color: white;
    text-decoration: none;
    background-color: #f28c41;
    border: 2px solid #f28c41; }

.home-container {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  height: 100%; }
  .home-container img {
    width: 100%;
    align-self: flex-end; }
  .home-container .cta-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 100%; }

@media (max-width: 600px) {
  .home-container {
    display: block; }
    .home-container img {
      display: none; } }

.contact-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }

.organizations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px; }
  .organizations .organization {
    display: grid;
    grid-template-columns: 50px calc(100% - 65px);
    grid-gap: 10px;
    position: relative;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background-color: white; }
    .organizations .organization div {
      max-width: 100%; }
    .organizations .organization-header {
      display: grid;
      grid-template-columns: 80% 1fr;
      grid-gap: 15px; }
      .organizations .organization-header h4 a {
        word-break: normal; }
    .organizations .organization-description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0 !important; }
    .organizations .organization-interests {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .organizations .organization-interests small {
        background-color: #f28c41;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 2.5px; }
    .organizations .organization-resources {
      position: absolute;
      top: 15px;
      right: 15px;
      display: grid;
      grid-template-columns: repeat(2, 25px);
      grid-gap: 10px;
      align-items: center; }
      .organizations .organization-resources a img {
        width: 100%; }

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .filters .search-bar {
    width: 350px; }
  .filters .refresh-organizations {
    background-color: transparent;
    border: none;
    transition: all .2s; }
    .filters .refresh-organizations img {
      width: 30px;
      transition: all .2s; }
      .filters .refresh-organizations img:hover {
        transform: rotate(-180deg); }

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .options a {
    align-self: flex-end;
    justify-self: flex-end; }

.toggle-filter {
  background-color: transparent;
  border: none;
  margin-left: auto;
  font-size: 22.5px;
  color: #424242; }
  .toggle-filter:focus {
    outline: none; }

@media (max-width: 800px) {
  .options {
    grid-template-columns: repeat(auto-fill, 100%); }
    .options a {
      justify-self: flex-start; }
  .filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px; }
    .filters .search-bar {
      width: 100%; } }

@media (max-width: 600px) {
  .organizations {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); } }

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  grid-gap: 15px;
  margin: 0 !important; }
  .featured-grid .featured-org, .featured-grid .featured-post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }

.posts {
  margin: 0 200px; }

.post {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  overflow: hidden; }
  .post-header {
    position: relative;
    text-align: center;
    height: 300px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .post-header-image {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%; }
  .post-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0 !important; }
  .post .type {
    background-color: #12c3c3;
    padding: 2.5px 5px;
    border-radius: 3px;
    color: white; }

@media (max-width: 1000px) {
  .posts {
    margin: 0 100px; } }

@media (max-width: 800px) {
  .posts {
    margin: 0 50px; } }

@media (max-width: 500px) {
  .posts {
    margin: 0; } }

label:not(:first-child) {
  margin-top: 10px; }

.looking-for-checkboxes, .legal-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px; }
  .looking-for-checkboxes label, .legal-checkboxes label {
    display: inline;
    margin-top: 0 !important; }

.npo-button {
  margin-left: .5rem !important; }

@media (max-width: 600px) {
  .npo-button {
    margin-left: 0 !important; } }
