* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #eee !important;
  overflow-x: hidden;
  padding-bottom: 50px; }

nav {
  margin-bottom: 30px; }

.navbar-nav {
  display: flex;
  align-items: center; }

.navbar-brand img {
  width: 250px; }

@media (max-width: 768px) {
  .navbar-nav {
    align-items: flex-start; } }

.nav-logo {
  width: 40px;
  display: inline;
  background-color: white; }

.image-cropper-container {
  position: relative; }

.image-cropper {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #12c3c3; }

.nonprofit-badge {
  position: absolute;
  z-index: 10;
  width: 30% !important;
  right: 0;
  bottom: 0; }

#diagonal-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #12c3c3;
  clip-path: polygon(0 78%, 100% 13%, 100% 100%, 0% 100%);
  z-index: -1; }

.solid-cta-button {
  background-color: #f28c41;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  border: 2px solid #f28c41;
  transition: all .2s; }
  .solid-cta-button:hover {
    color: white;
    text-decoration: none;
    background-color: #f28c41;
    border: 2px solid #f28c41; }

.ghost-cta-button {
  background-color: transparent;
  border: 2px solid #f28c41;
  color: #f28c41;
  text-align: center;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 4px;
  transition: all .2s; }
  .ghost-cta-button:hover {
    color: white;
    text-decoration: none;
    background-color: #f28c41;
    border: 2px solid #f28c41; }

.disabled {
  background-color: #9d9d9d !important;
  border-color: #9d9d9d !important; }

.form-container {
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }

@media (max-width: 600px) {
  .form-container {
    width: 100%; } }

.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  align-items: center;
  height: 100%;
  transform: translateY(-40px); }
  .home-container h1 {
    font-size: 70px;
    font-weight: bold; }
  .home-container p {
    font-size: 20px; }
  .home-container img {
    width: 100%;
    align-self: flex-end; }
  .home-container .cta-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 100%; }
  .home-container .ymg-logo {
    display: inline-block;
    width: 50px;
    margin-left: 10px; }

.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

@media (max-width: 800px) {
  .home-container {
    display: block;
    padding: 50px 0; }
    .home-container img {
      display: none; } }

@media (max-width: 500px) {
  .cta-buttons {
    grid-template-columns: repeat(auto-fill, 100%) !important; } }

.show-tick {
  border: 2px solid #ccc;
  border-radius: 5px; }

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  grid-gap: 15px;
  margin: 0 !important; }
  .featured-grid .featured-org, .featured-grid .featured-post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }

.posts {
  margin: 0 200px; }

.post {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px; }
  .post-content {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0 !important; }

@media (max-width: 1000px) {
  .posts {
    margin: 0 100px; } }

@media (max-width: 800px) {
  .posts {
    margin: 0 50px; } }

@media (max-width: 500px) {
  .posts {
    margin: 0; } }

.organization-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 40px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
  width: 100%; }
  .organization-container .left img {
    width: 100%; }
  .organization-container .left .admin-components a, .organization-container .left .admin-components button {
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px; }
  .organization-container .left .subscribe-form input {
    margin-bottom: 5px; }
  .organization-container .left .subscribe-form input[type=submit] {
    display: block;
    width: 100%;
    font-size: 15px; }
  .organization-container .right-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .organization-container .right-grid p {
      margin-bottom: 3px; }
    .organization-container .right-grid .social-links {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
      grid-gap: 15px; }
      .organization-container .right-grid .social-links img {
        width: 100%; }
  .organization-container .right .interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0; }
    .organization-container .right .interests small {
      background-color: #f28c41;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      margin: 2.5px; }

.grid-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  grid-gap: 15px;
  margin: 0 !important; }

@media (max-width: 800px) {
  .organization-container {
    grid-template-columns: repeat(auto-fill, 100%); }
    .organization-container .left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      align-items: center; }
    .organization-container .right-grid {
      grid-template-columns: repeat(auto-fill, 100%); }
      .organization-container .right-grid .social-links {
        padding: 15px 0; } }

.cta-button-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; }

.cta-button-demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; }

.row {
  margin: 30px 0; }
  .row .col {
    text-align: center; }

.demo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 15px;
  align-items: center; }
  .demo-container .post {
    height: auto; }

.make-post-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3); }
