.organizations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 15px;

  .organization {
    display: grid;
    grid-template-columns: 50px calc(100% - 65px); // 65PX FOR PADDING + OTHER COLUMN WIDTH
    grid-gap: 10px;

    position: relative;

    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 30px rgba(0,0,0,.2);
    background-color: white;

    div {
      max-width: 100%;
    }

    &-header {
      display: grid;
      grid-template-columns: 80% 1fr;
      grid-gap: 15px;

      & h4 {

        & a {
          word-break: normal;
        }
      }
    }

    &-description {
      text-overflow: ellipsis;
      white-space: nowrap;
	    overflow: hidden;
      margin-bottom: 0 !important;
    }

    &-interests {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      & small {
        background-color: $color-primary;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 2.5px;
      }
    }

    &-resources {
      position: absolute;
      top: 15px;
      right: 15px;

      display: grid;
      grid-template-columns: repeat(2, 25px);
      grid-gap: 10px;
      align-items: center;

      & a {
        & img {
          width: 100%;
        }
      }
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .search-bar {
    width: 350px;
  }

  .refresh-organizations {
    background-color: transparent;
    border: none;
    transition: all .2s;

    & img {
      width: 30px;
      transition: all .2s;

      &:hover {
        transform: rotate(-180deg);
      }
    }
  }
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & a {
    // width: 400px;
    align-self: flex-end;
    justify-self: flex-end;
  }
}

.toggle-filter {
  background-color: transparent;
  border: none;
  margin-left: auto;
  font-size: 22.5px;
  color: rgb(66, 66, 66);

  &:focus {
    outline: none;
  }
}


@media (max-width: 800px) {
  .options {
    grid-template-columns: repeat(auto-fill, 100%);

    & a {
      justify-self: flex-start;
    }
  }

  .filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px;

    .search-bar {
      width: 100%;
    }
  }
}


@media (max-width: 600px) {
  .organizations {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}
