.home-container {
  padding: 100px 0;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  height: 100%;

  & img {
    width: 100%;
    align-self: flex-end;
  }

  .cta-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 100%;
  }
}


@media (max-width: 600px) {
  .home-container {
    display: block;

    & img {
      display: none;
    }
  }
}
