.organization-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-gap: 40px;

  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 40px rgba(0,0,0,.3);
  width: 100%;

  .left {

    & img {
      width: 100%;
    }

    & .admin-components {

      & a, button {
        display: block;
        width: 100%;
        font-size: 15px;
        margin-bottom: 5px;
      }
    }

    & .subscribe-form {
      input {
        margin-bottom: 5px;
      }

      input[type=submit] {
        display: block;
        width: 100%;
        font-size: 15px;
      }
    }
  }

  .right {

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & p {
        margin-bottom: 3px;
      }

      .social-links {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
        grid-gap: 15px;

        & img {
          width: 100%;
        }
      }
    }

    & .interests {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 0;

      & small {
        background-color: $color-secondary;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        margin: 2.5px;
      }
    }
  }
}

.grid-posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
  grid-gap: 15px;
  margin: 0 !important;
}


@media (max-width: 800px) {
  .organization-container {
    grid-template-columns: repeat(auto-fill, 100%);

    .left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      align-items: center;
    }

    .right-grid {
      grid-template-columns: repeat(auto-fill, 100%);

      .social-links {
        padding: 15px 0;
      }
    }
  }
}
