.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;

  & .featured-org, .featured-post {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0,0,0,.3);
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;

  & .post {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0,0,0,.3);

    &-content {
      text-overflow: ellipsis;
      white-space: nowrap;
	    overflow: hidden;
      margin-bottom: 0 !important;
    }
  }
}
